/voice.wav
__pycache__/Lissener.cpython-312.pyc
__pycache__/Recognizer.cpython-312.pyc
dist/wiseman_library-0.0.1-py3-none-any.whl
__pycache__/Recorder.cpython-312.pyc
__pycache__/speaker.cpython-312.pyc
dist/wiseman-library-0.0.1.tar.gz
wiseman_library.egg-info/dependency_links.txt
wiseman_library.egg-info/PKG-INFO
wiseman_library.egg-info/SOURCES.txt
wiseman_library.egg-info/top_level.txt
